
/scoped_dir
__pycache__/fb_getcookies.cpython-310.pyc
logininfo.json
cookies.json
one-time-code.txt
exitnow.txt
/__pycache__
facebook_infos.bin
self_facebook_info.bin
/__tmp__
cookies.json.enc
logininfo.json.enc
chat_histories.bin
chat_histories.bin.enc
/files
traodoisub_fbconfig.json
gemini_key.txt
chat_infos.bin
